* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 50px;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  font-family: arial, sans-serif;
}
h1 {
  text-align: center;
  margin: 40px;
  color: #ffffff;
}
.faq-item {
  background: white;
  margin: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.faq-item:hover {
  background-color: #e1edfc;
}
.faq-question {
  padding: 20px 25px;
  font-weight: bold;
  position: relative;
}
.faq-question::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 20px;
  transition: transform 0.3s ease;
}
.faq-item.active .faq-question::after {
  content: "_";
  transform: rotate(180deg);
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  background: #f0f8ff;
  transition: max-height 0.3s ease, padding 0.3s ease;
}
.faq-item.active .faq-answer {
  max-height: 200px; /* enough to show content */
  padding: 15px 20px;
}
